/*********** Heading CSS ***********/

.jumbotron {
	/*background: url("assets/img/background.jpg") no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;*/
    background: url(images/circuit2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/*height:100%; *???? 600px?*  */
	padding-bottom: 20px;
	margin-bottom:0px;
	color:#eee;
	height: 93vh; 
}

.center {
	text-align: center;
}

#logo-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 529px; 
  height: 133.6666666px;
}

#eeexpolink {
  background-color: #f7d455;
  border: none;
  border-radius: 0px;
}

#eeexpolink:hover {
  background-color: #21585f;
}

#announcements {
	padding-top: 30px;
}

.info-div {
	background-color: #173e43;
	padding: 10px;
	height: 250px;
}

.annoucements-img {
	height: 175px;
}

.announcements-text {
	padding-top: 10px;
}

/************************************/

/**** Upcoming Events/Announcements CSS ****/

#upcoming {
	/**background-color: #93B1C6;**/
	color: #ffffff;
	background-color: #0da8a0;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 93vh; 
}

#announcement {
	text-align: center;
	background-color: white;
	color: #086963;
	width: 1000px;
	max-width:100%;
}

/************************************/